<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
  <style type="text/css">
    #office_frame {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      border: none;
      display: block;
    }

    .w-100 {
      width: 100%;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
</head>

<body>
  <span id="frameholder"></span>
  <v-app v-if="!hideFileList" id="app">
    <v-main>
      <v-container>
        <v-card class="mx-auto" max-width="1500" tile>
          <v-list dense>
            <v-list-item-group v-model="selectedItem" color="primary">
              <v-row>
                <v-col cols="3" offset="8">
                  <v-list-item>
                    <v-list-item-content>
                      <v-btn-toggle>
                        <v-btn @click="editNew()">
                          New File
                        </v-btn>
                        <v-btn @click="addExisting()">
                          Existing File
                        </v-btn>
                      </v-btn-toggle>
                      <form id="create_new" name="office_form" target="office_frame" method="post"></form>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
              <v-subheader>Files</v-subheader>
              <template v-for="(file, i) in files">
                <v-row v-if="Object.keys(actions).includes(file.ext)" :key="i">
                  <v-col>
                    <v-list-item>
                      <v-list-item-icon class="w-100">
                        <v-icon>{{icon(file.ext)}}</v-icon>
                        </v-list-item-titl-icon>
                        <v-list-item-content>
                          <v-row>
                            <v-col cols="6">
                              <v-list-item>{{file.name}}</v-list-item-title>
                            </v-col>
                            <v-col cols="6">
                              <v-btn-toggle>
                                <template v-for="action in actions[file.ext]" v-if="action[0] !== 'editnew'">
                                  <v-btn @click="submitForm(`office_form_${action[0]}_${file.name}`)">
                                    {{action[0]}}
                                  </v-btn>
                                  <form :key="`office_form_${action[0]}_${file.name}`"
                                    :id="`office_form_${action[0]}_${file.name}`" name="office_form"
                                    target="office_frame"
                                    :action="`${action[1]}${action[1].endsWith('?') ? '' : '&'}WOPISrc=${encodeURIComponent(`${wopiServer}/wopi/files/${file.id}`)}&access_token=DEADBEEFDEADBEEFDEADBEEF&access_token_ttl=0`"
                                    method="post"></form>
                                </template>
                              </v-btn-toggle>
                            </v-col>
                          </v-row>
                        </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-container>
    </v-main>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          files: [],
          actions: [],
          wopiServer: '',
          selectedItem: null,
          hideFileList: false,
        };
      },
      methods: {
        submitForm(id) {
          this.createIframe();

          document.getElementById(id).submit();
        },
        icon(ext) {
          switch (ext) {
            case 'docx':
              return 'mdi-microsoft-word';
              break;
            case 'xlsx':
              return 'mdi-microsoft-excel';
              break;
            case 'pptx':
              return 'mdi-file-powerpoint';
              break;
            case 'one':
              return 'mdi-microsoft-onenote';
              break;
            default:
              return 'mdi-file-document-outline';
              break;
          }
        },
        async editNew() {
          try {
            const name = window.prompt('Choose new file name');
            const ext = name.slice(-4);

            if (!['docx', 'xlsx', 'pptx'].includes(ext)) {
              return window.alert('Filename must have one of these extensions: ".docx", ".xlsx". or ".pptx"');
            }

            if (this.files.map(t => t.name).includes(name)) {
              return alert('Filename already exists');
            }

            await fetch(`/create/${name}`, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({})
            });

            const form = document.getElementById('create_new');
            const action = this.actions[ext].find(x => x[0] === 'editnew')[1];
            form.action = `${action}${action.endsWith('?') ? '' : '&'}WOPISrc=${encodeURIComponent(`${this.wopiServer}/wopi/files/${name}`)}&access_token=DEADBEEFDEADBEEFDEADBEEF&access_token_ttl=0`;

            this.createIframe();
            form.submit();
          } catch (err) {
            console.error(err.message || err);
          }
        },
        createIframe() {
          const frameholder = document.getElementById('frameholder');
          const office_frame = document.createElement('iframe');
          office_frame.sandbox = 'allow-scripts allow-top-navigation allow-downloads allow-forms allow-same-origin allow-popups';
          office_frame.name = 'office_frame';
          office_frame.id = 'office_frame';
          this.hideFileList = true;
          // This attribute allows true fullscreen mode in slideshow view
          // when using PowerPoint Online's 'view' action.
          //office_frame.setAttribute('allowfullscreen', 'true');

          frameholder.appendChild(office_frame);
        },
        addExisting() {
          const input = document.createElement('input');
          input.type = 'file';

          input.onchange = e => {
            const [file] = e.target.files;
            const reader = new FileReader();

            reader.readAsArrayBuffer(file);

            reader.onload = async readerEvent => {
              try {
                const { result } = readerEvent.target;
                const data = await fetch(`/add-file?file_name=${encodeURIComponent(file.name)}`, { method: 'POST', body: result });
                const { files, new_file } = await data.json();
                this.files = files;

                alert(`${new_file} created`);
              } catch (err) {
                console.error(err.message || err);
              }
            };
          };

          input.click();
        },
      },
      async mounted() {
        const res = await fetch('/fileNames');
        const data = await res.json();
        const actionsRes = await fetch('/discovery');
        const actions = await actionsRes.json();
        this.actions = actions;
        this.files.push(...data.files);
        this.wopiServer = data.wopiServer;
      },
    })
  </script>
</body>

</html>